body {
  background: pink;
  font-family: 'Monsieur La Doulaise', cursive; 
  font-size: 1.5em;
}

div#footer {
  position: fixed;
  bottom: 0px;
}

div#content {
  display: inline-block;
  width: 70%;
}

div#navigation {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}


