<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>{{ site.title }}</title>
      <link href='http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/style.css" />
  </head>
  
  <body>
    <div id="header">
      <h1>{{site.title}}</h1>
      <h2>{{page.title}}</h2>
    </div>
    
    <div id="navigation">
      <ul>
        <li><a href="index.html">Startseite</a></li>
        <li><a href="kittens.html">Kittens!</a></li>
      </ul>
    </div>
    
    <div id="content">
      {{content}}
    </div>
    
    <div id="footer">
      YEAH
      <a href="http://www.cornify.com" onclick="cornify_add();return false;"><img src="http://www.cornify.com/assets/cornify.gif" width="61" height="16" border="0" alt="Cornify" /></a><script type="text/javascript" src="http://www.cornify.com/js/cornify.js"></script>
      Copyright by klyrr
    </div>
  </body>
</html>
